# Introduction à Pandas : exercices


## Données d'exemple : Geonames

file: allCountries.zip source: http://download.geonames.org/export/

### Documentation

The main 'geoname' table has the following fields :

* geonameid : integer id of record in geonames database
* name : name of geographical point (utf8) varchar(200)
* asciiname : name of geographical point in plain ascii characters, varchar(200)
* alternatenames : alternatenames, comma separated, ascii names automatically transliterated, convenience attribute from alternatename table, varchar(10000)
* latitude : latitude in decimal degrees (wgs84)
* longitude : longitude in decimal degrees (wgs84)
* feature class : see http://www.geonames.org/export/codes.html, char(1)
* feature code : see http://www.geonames.org/export/codes.html, varchar(10)
* country code : ISO-3166 2-letter country code, 2 characters
* cc2 : alternate country codes, comma separated, ISO-3166 2-letter country code, 200 characters
* admin1 code : fipscode (subject to change to iso code), see exceptions below, see file admin1Codes.txt for display names of this code; varchar(20)
* admin2 code : code for the second administrative division, a county in the US, see file admin2Codes.txt; varchar(80)
* admin3 code : code for third level administrative division, varchar(20)
* admin4 code : code for fourth level administrative division, varchar(20)
* population : bigint (8 byte int)
* elevation : in meters, integer
* dem : digital elevation model, srtm3 or gtopo30, average elevation of 3''x3'' (ca 90mx90m) or 30''x30'' (ca 900mx900m) area in meters, integer. srtm processed by cgiar/ciat.
* timezone : the iana timezone id (see file timeZone.txt) varchar(40)
* modification date : date of last modification in yyyy-MM-dd format

AdminCodes: Most adm1 are FIPS codes. ISO codes are used for US, CH, BE and ME. UK and Greece are using an additional level between country and fips code. The code '00' stands for general features where no specific adm1 code is defined. The corresponding admin feature is found with the same countrycode and adminX codes and the respective feature code ADMx.

In [1]:
import pandas as pd

df = pd.read_csv('shared_data/geonames/allCountries.zip', header=None, delimiter='\t', names=('geonameid', 'name', 'asciiname', 'alternatenames', 'latitude', 'longitude', 'feature class',
                     'feature code', 'country code', 'cc2', 'admin1_code', 'admin2_code', 'admin3_code', 'admin4_code',
                     'population', 'elevation', 'dem', 'timezone', 'modification_date'), usecols=('geonameid', 'name', 'latitude', 'longitude', 'feature class',
                     'feature code', 'country code', 'admin1_code', 'admin2_code', 'admin3_code', 'admin4_code',
                     'population', 'elevation', 'modification_date'))
df.sample(100)

C:\Users\iriarte\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (8,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,geonameid,name,latitude,longitude,feature class,feature code,country code,admin1_code,admin2_code,admin3_code,admin4_code,population,elevation,modification_date
5393487,1240979,Katukeliyawa,8.31970,80.25040,L,LCTY,LK,30,71,7139,7.13902e+06,0,NaN,2018-12-17
2998755,11314499,Nakavika Creek,-17.71187,178.56599,H,STM,FJ,01,2198131,NaN,NaN,0,NaN,2016-11-24
9873321,4681833,Clear Branch,32.60014,-94.89549,H,STM,US,TX,459,NaN,NaN,0,113.0,2006-01-15
2805088,2521924,Rambla de Almajalejo,37.35000,-2.00000,H,STMI,ES,51,AL,04103,NaN,0,NaN,1993-12-23
4206584,10700951,Chima Kailah,31.67120,75.36246,P,PPL,IN,23,35,NaN,NaN,0,NaN,2016-02-11
8283115,6640936,Bisyarka,55.01138,48.69841,H,STM,RU,73,NaN,NaN,NaN,0,NaN,2011-06-06
7608839,11524892,Pasig Shoal,9.68573,119.19390,H,RF,PH,41,49,NaN,NaN,0,NaN,2017-05-08
8901533,8454785,Wat Nong Tian,14.33481,99.44514,S,MSTY,TH,50,NaN,NaN,NaN,0,NaN,2013-02-10
1144239,6135124,Ruisseau Puiseaux,49.80457,-79.06765,H,STM,CA,10,NaN,NaN,NaN,0,NaN,2006-01-18
3016675,2975965,Sarrecave,43.21562,0.59531,P,PPL,FR,76,31,312,31531,70,NaN,2016-02-18
1757856,8407986,Cangba,29.00719,108.57696,P,PPL,CN,33,NaN,NaN,NaN,0,NaN,2012-10-08
618900,7484241,Osmanpur,23.55188,88.69558,P,PPL,BD,82,4018,401831,4.01832e+07,0,NaN,2016-11-09
4541271,6787980,Nahr al ‘Uwayd,32.30432,44.85891,H,CNL,IQ,6,NaN,NaN,NaN,0,NaN,2012-04-06
2447866,2839340,Bahnhof Watzenborn-Steinberg,50.54500,8.72333,S,RSTN,DE,5,65,6531,6.53101e+06,0,NaN,2015-09-04
7755176,7101456,Kathyan,33.21992,73.70684,P,PPLW,PK,6,NaN,NaN,NaN,0,NaN,2018-05-10
1726413,8038179,Libu,34.18563,119.16558,P,PPL,CN,4,NaN,NaN,NaN,0,NaN,2012-01-21
11106584,6491350,Hawaii Beach Vacation Rentals,21.63870,-157.91930,S,HTL,US,HI,NaN,NaN,NaN,0,NaN,2007-04-15
10300887,5113309,Colliersville,42.49091,-74.98210,P,PPL,US,NY,77,47240,NaN,0,344.0,2017-05-23
2357241,3565699,Cañitas,22.95000,-82.73333,L,LCTY,CU,AR,NaN,NaN,NaN,0,NaN,2011-10-09
5996523,8737382,Mesa El Cardonal,30.13356,-115.58594,T,MESA,MX,2,NaN,NaN,NaN,0,NaN,2016-04-08
433076,8794230,Turners Flat,-28.40665,151.04582,S,HMSD,AU,4,33610,NaN,NaN,0,NaN,2014-04-08
10630297,5443827,West Red Creek,38.89666,-107.20838,H,STM,US,CO,51,NaN,NaN,0,2713.0,2006-01-15
5731478,788154,Margari,41.53694,21.36444,P,PPL,MK,28,NaN,NaN,NaN,82,NaN,2015-05-06
3614530,6729753,Pulau Siite,0.93350,97.42780,T,ISL,ID,26,NaN,NaN,NaN,0,NaN,2012-01-20
8702806,245451,Am Gala,13.74556,20.59741,P,PPL,TD,12,NaN,NaN,NaN,0,NaN,2017-05-08
4082691,10548462,Chauki,24.37443,80.31064,P,PPL,IN,35,426,NaN,NaN,0,NaN,2016-02-11
3666271,6881146,Desa Lengkong,-7.45160,112.47060,A,ADM4,ID,8,NaN,NaN,6.88115e+06,0,NaN,2012-01-20
6741966,9240316,Kviståsen,65.86350,12.70167,T,HLL,NO,9,1824,NaN,NaN,0,NaN,2014-07-18
437361,8798519,Lyelta,-34.92851,147.86546,S,HMSD,AU,2,13500,NaN,NaN,0,NaN,2014-04-08
106028,11190255,Terteri Gerezman,39.75970,45.27789,L,FLD,AM,10,NaN,NaN,NaN,0,NaN,2016-12-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8164894,806590,Uspenov,51.36694,36.35500,P,PPL,RU,41,NaN,NaN,NaN,0,NaN,1996-03-20
7030039,9657667,Bjoren,61.00791,5.17021,T,HLL,NO,15,1411,NaN,NaN,0,NaN,2014-10-09
7802796,11124346,Tariqabad,34.16860,71.76600,P,PPL,PK,3,NaN,NaN,NaN,0,NaN,2018-02-08
10581176,5394526,Serrano Campground,34.26112,-116.91559,S,CMP,US,CA,71,NaN,NaN,0,2064.0,2010-02-20
10937664,5752693,Smith Reservoir,43.95545,-123.33150,H,RSV,US,OR,39,NaN,NaN,0,150.0,2011-12-11
4819743,3163909,Zanon,45.26060,11.06031,P,PPL,IT,20,VR,23040,NaN,30,27.0,2014-01-19
6940339,9493915,Vågen,59.78851,6.11107,S,FRM,NO,7,1224,NaN,NaN,0,NaN,2014-09-07
8196396,1486826,Voskresenka,55.81800,85.00390,P,PPL,RU,29,NaN,NaN,NaN,0,NaN,2012-01-17
1726341,8038107,Fangxu,34.14343,119.89339,P,PPL,CN,4,NaN,NaN,NaN,0,NaN,2012-01-21
9245500,11837391,Karwenyi Primary School,0.26386,30.93348,S,SCH,UG,W,G2,230499,8.65859e+06,0,NaN,2018-03-19
5368352,6277755,Qrâni Chmîs Tniet el Aassal,34.27806,36.52611,T,HLLS,LB,11,NaN,NaN,NaN,0,NaN,2006-08-23
2169642,11521355,Majiawazi,41.89290,122.23300,P,PPL,CN,19,NaN,NaN,NaN,0,NaN,2017-04-09
1152186,6143116,Seal Island,43.41060,-66.01315,T,ISL,CA,7,NaN,NaN,NaN,0,NaN,2014-12-14
9318826,4118278,Landmark Baptist Academy,35.78980,-91.65292,S,SCH,US,AR,63,93249,NaN,0,99.0,2017-05-23
9738512,4539783,KAEZ,35.49006,-97.43781,S,TOWR,US,OK,109,NaN,NaN,0,373.0,2006-01-15
7241784,7963005,Khanigaun,27.74075,85.57314,P,PPLL,NP,CR,1,24,240030,0,NaN,2011-08-27
4441281,11500587,Perumpādi,10.78270,76.92939,P,PPL,IN,25,632,NaN,NaN,0,NaN,2017-09-11
8238446,2020271,Manzurka,53.48556,106.05444,P,PPL,RU,20,NaN,NaN,NaN,1004,NaN,2014-08-21
2664924,11167235,El Desvío,18.77701,-70.30671,A,ADM5,DO,31,2803,280303,2.80303e+07,0,NaN,2016-06-05
8491872,2672224,Storbäcken,65.56727,17.84373,H,STM,SE,23,NaN,NaN,NaN,0,NaN,2017-01-04
6865,8045915,Maḩaţţat Ībkū al Ghibb,25.58158,55.57506,S,BLDG,AE,07,NaN,NaN,NaN,0,NaN,2012-01-21
9941442,4750335,Cabin Cove,36.81400,-82.01707,T,VAL,US,VA,191,NaN,NaN,0,566.0,2006-01-15
6950206,9540877,Kalåsmyra,60.63102,12.06836,H,MRSH,NO,6,425,NaN,NaN,0,NaN,2014-09-16
944016,5932789,Crompton Lake,60.00020,-107.23415,H,LK,CA,11,NaN,NaN,NaN,0,NaN,2013-07-21
7460854,3967670,La Caliza,-11.74889,-76.28750,P,PPL,PE,15,1507,150722,NaN,0,NaN,2012-07-19
5690221,1065517,Toraka Dives,-12.75000,48.50000,H,BNK,MG,1,NaN,NaN,NaN,0,NaN,2010-08-10
9754488,4555807,Wilson Creek,34.30843,-95.91998,H,STM,US,OK,5,NaN,NaN,0,139.0,2010-02-17
4503524,11728830,Kumarsāli,24.37330,86.48311,P,PPL,IN,38,350,NaN,NaN,0,NaN,2017-10-28
4989860,7572735,Nomurogawa-damu,34.28834,132.70955,S,DAM,JP,11,1.85829e+06,NaN,NaN,0,NaN,2017-04-09
190380,6635148,"Hornsby, Mount",-64.19466,-59.35145,T,MT,AQ,NaN,NaN,NaN,NaN,0,NaN,2013-04-13

### Question 1

Quel est la taille du DataFrame?

In [2]:
df.shape

(11897027, 14)

### Question 2

Afficher le résumé des veleurs du DataFrame

In [4]:
df.describe()

          geonameid      latitude     longitude    population     elevation
count  1.189703e+07  1.189703e+07  1.189703e+07  1.189703e+07  2.359496e+06
mean   6.023458e+06  2.829223e+01  1.212834e+01  4.314231e+03  5.618345e+02
std    3.478550e+06  2.368156e+01  8.040919e+01  2.650591e+06  7.287861e+02
min    3.000000e+00 -9.000000e+01 -1.799995e+02 -1.200000e+01 -1.091100e+04
25%    3.011316e+06  1.671923e+01 -7.455850e+01  0.000000e+00  1.090000e+02
50%    6.005998e+06  3.325595e+01  1.683333e+01  0.000000e+00  2.630000e+02
75%    9.037462e+06  4.380352e+01  8.068333e+01  0.000000e+00  6.790000e+02
max    1.203626e+07  9.000000e+01  1.800000e+02  6.814400e+09  8.848000e+03

### Question 3

Quels sont les lacs qui figurent dans les données? (*aide : code "LK"*)

*Bonus : Y a-t-il des doublons ? *

In [6]:
lacs = df.loc[df['feature code'] =='LK']

In [7]:
lacs

,geonameid,name,latitude,longitude,feature class,feature code,country code,admin1_code,admin2_code,admin3_code,admin4_code,population,elevation,modification_date
4,3017833,Estany de les Abelletes,42.52915,1.73362,H,LK,AD,A9,NaN,NaN,NaN,0,NaN,2014-11-05
57,3038864,Estany Gran de la Vall del Riu,42.60065,1.59278,H,LK,AD,02,NaN,NaN,NaN,0,NaN,2014-11-05
76,3038883,Estany de les Truites,42.57705,1.44801,H,LK,AD,04,NaN,NaN,NaN,0,NaN,2014-11-05
307,3039114,Estany de Serra Mitjana,42.47497,1.61125,H,LK,AD,06,NaN,NaN,NaN,0,NaN,2015-05-06
326,3039133,Estany Segon,42.61012,1.72483,H,LK,AD,02,NaN,NaN,NaN,0,NaN,2014-12-03
333,3039140,Estany Sec,42.47272,1.62321,H,LK,AD,08,NaN,NaN,NaN,0,NaN,2015-04-08
417,3039224,Bassa Roja,42.60119,1.66433,H,LK,AD,02,NaN,NaN,NaN,0,NaN,2014-12-03
434,3039241,Estany Rodó,42.52213,1.68115,H,LK,AD,03,NaN,NaN,NaN,0,NaN,2015-04-08
435,3039242,Estany Rodó,42.49518,1.65469,H,LK,AD,03,NaN,NaN,NaN,0,NaN,2014-11-05
530,3039337,Bassa del Racó,42.61919,1.49881,H,LK,AD,05,NaN,NaN,NaN,0,NaN,2014-11-05
539,3039346,Estanyó del Querol,42.59981,1.65970,H,LK,AD,02,NaN,NaN,NaN,0,NaN,2014-12-03
565,3039374,Estany Primer,42.63721,1.49019,H,LK,AD,05,NaN,NaN,NaN,0,NaN,2010-01-12
566,3039375,Estany Primer,42.61033,1.71783,H,LK,AD,02,NaN,NaN,NaN,0,NaN,2014-12-03
567,3039376,Estany Primer,42.52509,1.68853,H,LK,AD,03,NaN,NaN,NaN,0,NaN,2015-04-08
625,3039434,Estany del Port Dret,42.60273,1.45965,H,LK,AD,04,NaN,NaN,NaN,0,NaN,2014-11-05
920,3039730,Estany de la Nou,42.47541,1.57692,H,LK,AD,08,NaN,NaN,NaN,0,NaN,2014-11-05
935,3039745,Estany Negre,42.58728,1.43609,H,LK,AD,04,NaN,NaN,NaN,0,NaN,2014-11-05
962,3039773,Estany Mort,42.62445,1.62194,H,LK,AD,02,NaN,NaN,NaN,0,NaN,2014-11-05
963,3039774,Estany Mort,42.57904,1.71441,H,LK,AD,02,NaN,NaN,NaN,0,NaN,2014-12-03
968,3039779,Estany Moreno,42.51508,1.63914,H,LK,AD,03,NaN,NaN,NaN,0,NaN,2014-11-05
983,3039794,Estany de Montmalús,42.49712,1.68314,H,LK,AD,03,NaN,NaN,NaN,0,NaN,2015-04-08
1041,3039852,Estany del Mig,42.63999,1.48612,H,LK,AD,07,NaN,NaN,NaN,0,NaN,2007-03-04
1049,3039860,Estany de Més Amunt,42.64570,1.48659,H,LK,AD,07,NaN,NaN,NaN,0,NaN,2007-03-04
1059,3039870,Estany dels Meners de la Coma,42.62361,1.60882,H,LK,AD,02,NaN,NaN,NaN,0,NaN,2014-11-05
1069,3039880,Estany del Meligar,42.52740,1.66166,H,LK,AD,03,NaN,NaN,NaN,0,NaN,2014-11-05
1363,3040176,La Basseta,42.48750,1.65276,H,LK,AD,08,NaN,NaN,NaN,0,NaN,2015-05-06
1409,3040222,Cóms de Jan,42.61805,1.63927,H,LK,AD,02,NaN,NaN,NaN,0,NaN,2014-11-05
1411,3040224,Estany de l’Isla,42.61939,1.68264,H,LK,AD,02,NaN,NaN,NaN,0,NaN,2014-11-05
1565,3040378,Estany Forcat,42.49410,1.63861,H,LK,AD,08,NaN,NaN,NaN,0,NaN,2018-05-02
1582,3040396,Estany de les Fonts,42.51598,1.66895,H,LK,AD,03,NaN,NaN,NaN,0,NaN,2014-11-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11865367,920931,Lake Chali,-11.69446,29.85835,H,LK,ZM,04,NaN,NaN,NaN,0,NaN,2012-01-17
11865720,921284,Bukali Lagoon,-11.62976,29.85765,H,LK,ZM,04,NaN,NaN,NaN,0,NaN,2011-03-06
11865821,921385,Lake Beu,-11.88525,33.14218,H,LK,ZM,10,NaN,NaN,NaN,0,NaN,2016-06-04
11865838,921402,Lake Bemba,-11.31667,30.63333,H,LK,ZM,05,NaN,NaN,NaN,0,NaN,2012-01-17
11865888,921452,Lake Bangweulu,-11.25089,29.68648,H,LK,ZM,00,NaN,NaN,NaN,0,NaN,2012-01-17
11865937,921501,Baka Baka Lagoon,-12.40485,32.17642,H,LK,ZM,06,NaN,NaN,NaN,0,NaN,2011-03-06
11865938,921502,Lake Baka-Baka,-11.72482,30.65557,H,LK,ZM,10,NaN,NaN,NaN,0,NaN,2016-06-04
11866171,7909808,Manyeke Lake,-15.77772,27.20215,H,LK,ZM,07,NaN,NaN,NaN,0,NaN,2011-07-14
11884279,6942014,Lake Mutirikwe,-20.24892,31.03326,H,LK,ZW,08,NaN,NaN,NaN,0,NaN,2009-06-10
11884754,7324360,Cecilmour,-16.73726,30.24643,H,LK,ZW,05,NaN,NaN,NaN,0,NaN,2012-01-21
11884854,7324688,Two tree Hill,-16.97244,30.09803,H,LK,ZW,05,NaN,NaN,NaN,0,NaN,2012-01-21
11885801,7351629,Bumhururu,-16.67623,31.06957,H,LK,ZW,03,NaN,NaN,NaN,0,NaN,2012-01-21
11885869,7351709,Walton,-16.90526,31.29366,H,LK,ZW,03,NaN,NaN,NaN,0,NaN,2012-01-21
11885870,7351710,Cowley,-16.94051,31.30100,H,LK,ZW,03,NaN,NaN,NaN,0,NaN,2012-01-21
11888349,7394814,John Mac Lake,-18.45332,29.88780,H,LK,ZW,05,NaN,NaN,NaN,0,NaN,2010-08-07
11890835,7909811,Lake Manyame,-17.82747,30.59280,H,LK,ZW,05,NaN,NaN,NaN,0,NaN,2011-07-14
11890995,8534189,Little Makarati,-18.51339,29.87102,H,LK,ZW,05,NaN,NaN,NaN,0,NaN,2013-06-05
11896220,6324774,Rakina Bara,44.68080,20.39299,H,LK,NaN,NaN,NaN,NaN,NaN,0,NaN,2007-02-10
11896275,6698098,Velické pleso,49.15768,20.15596,H,LK,NaN,NaN,NaN,NaN,NaN,0,1666.0,2015-01-13
11896276,6698099,Batizovské pleso,49.15223,20.12985,H,LK,NaN,NaN,NaN,NaN,NaN,0,1884.0,2015-01-14
11896277,6698104,Vyšné Temnosmrečinské pleso,49.18876,20.03782,H,LK,NaN,NaN,NaN,NaN,NaN,0,NaN,2008-11-25
11896278,6698105,Nižné Temnosmrečinské pleso,49.19249,20.02964,H,LK,NaN,NaN,NaN,NaN,NaN,0,NaN,2008-11-25
11896279,6698106,Capie pleso,49.16805,20.03629,H,LK,NaN,NaN,NaN,NaN,NaN,0,NaN,2015-01-13
11896280,6698107,Vyšné Wahlenbergovo pleso,49.16415,20.02591,H,LK,NaN,NaN,NaN,NaN,NaN,0,NaN,2008-11-25
11896281,6698108,Nižné Terianské pleso,49.16981,20.01287,H,LK,NaN,NaN,NaN,NaN,NaN,0,NaN,2008-11-25
11896282,6698110,Ťažké pleso,49.18695,20.10646,H,LK,NaN,NaN,NaN,NaN,NaN,0,1612.0,2015-01-13
11896283,6698111,Litvorové pleso,49.17719,20.12938,H,LK,NaN,NaN,NaN,NaN,NaN,0,NaN,2008-11-25
11896284,6698118,Vyšné Bielovodské Žabie pleso,49.19365,20.09292,H,LK,NaN,NaN,NaN,NaN,NaN,0,NaN,2008-11-25
11896285,6698119,Nižné Bielovodské Žabie pleso,49.19926,20.09365,H,LK,NaN,NaN,NaN,NaN,NaN,0,NaN,2008-11-25
11896287,6698126,Kolové pleso,49.22036,20.19128,H,LK,NaN,NaN,NaN,NaN,NaN,0,NaN,2008-11-25

In [12]:
ids = lacs['geonameid'].nunique
if ids == lacs.shape[0] :
    print ('pas de doublons')
else :
    print ('il y a des doublons')

il y a des doublons

In [10]:
ids

<bound method DataFrame.nunique of           geonameid                            name  latitude  longitude  \
4           3017833         Estany de les Abelletes  42.52915    1.73362
57          3038864  Estany Gran de la Vall del Riu  42.60065    1.59278
76          3038883           Estany de les Truites  42.57705    1.44801
307         3039114         Estany de Serra Mitjana  42.47497    1.61125
326         3039133                    Estany Segon  42.61012    1.72483
333         3039140                      Estany Sec  42.47272    1.62321
417         3039224                      Bassa Roja  42.60119    1.66433
434         3039241                     Estany Rodó  42.52213    1.68115
435         3039242                     Estany Rodó  42.49518    1.65469
530         3039337                  Bassa del Racó  42.61919    1.49881
539         3039346              Estanyó del Querol  42.59981    1.65970
565         3039374                   Estany Primer  42.63721    1.49019
566         3039375                   Estany Primer  42.61033    1.71783
567         3039376                   Estany Primer  42.52509    1.68853
625         3039434            Estany del Port Dret  42.60273    1.45965
920         3039730                Estany de la Nou  42.47541    1.57692
935         3039745                    Estany Negre  42.58728    1.43609
962         3039773                     Estany Mort  42.62445    1.62194
963         3039774                     Estany Mort  42.57904    1.71441
968         3039779                   Estany Moreno  42.51508    1.63914
983         3039794             Estany de Montmalús  42.49712    1.68314
1041        3039852                  Estany del Mig  42.63999    1.48612
1049        3039860             Estany de Més Amunt  42.64570    1.48659
1059        3039870   Estany dels Meners de la Coma  42.62361    1.60882
1069        3039880              Estany del Meligar  42.52740    1.66166
1363        3040176                      La Basseta  42.48750    1.65276
1409        3040222                     Cóms de Jan  42.61805    1.63927
1411        3040224                Estany de l’Isla  42.61939    1.68264
1565        3040378                   Estany Forcat  42.49410    1.63861
1582        3040396             Estany de les Fonts  42.51598    1.66895
...             ...                             ...       ...        ...
11865367     920931                      Lake Chali -11.69446   29.85835
11865720     921284                   Bukali Lagoon -11.62976   29.85765
11865821     921385                        Lake Beu -11.88525   33.14218
11865838     921402                      Lake Bemba -11.31667   30.63333
11865888     921452                  Lake Bangweulu -11.25089   29.68648
11865937     921501                Baka Baka Lagoon -12.40485   32.17642
11865938     921502                  Lake Baka-Baka -11.72482   30.65557
11866171    7909808                    Manyeke Lake -15.77772   27.20215
11884279    6942014                  Lake Mutirikwe -20.24892   31.03326
11884754    7324360                       Cecilmour -16.73726   30.24643
11884854    7324688                   Two tree Hill -16.97244   30.09803
11885801    7351629                       Bumhururu -16.67623   31.06957
11885869    7351709                          Walton -16.90526   31.29366
11885870    7351710                          Cowley -16.94051   31.30100
11888349    7394814                   John Mac Lake -18.45332   29.88780
11890835    7909811                    Lake Manyame -17.82747   30.59280
11890995    8534189                 Little Makarati -18.51339   29.87102
11896220    6324774                     Rakina Bara  44.68080   20.39299
11896275    6698098                   Velické pleso  49.15768   20.15596
11896276    6698099                Batizovské pleso  49.15223   20.12985
11896277    6698104     Vyšné Temnosmrečinské pleso  49.18876   20.03782
11896278    6698105     Nižné Temnosmrečinské pleso  49.19249   20.02964
11896279    6698106                     Capie pleso  49.16805   20.03629
11896280    6698107       Vyšné Wahlenbergovo pleso  49.16415   20.02591
11896281    6698108           Nižné Terianské pleso  49.16981   20.01287
11896282    6698110                     Ťažké pleso  49.18695   20.10646
11896283    6698111                 Litvorové pleso  49.17719   20.12938
11896284    6698118   Vyšné Bielovodské Žabie pleso  49.19365   20.09292
11896285    6698119   Nižné Bielovodské Žabie pleso  49.19926   20.09365
11896287    6698126                    Kolové pleso  49.22036   20.19128

         feature class feature code country code admin1_code admin2_code  \
4                    H           LK           AD          A9         NaN
57                   H           LK           AD          02         NaN
76                   H           LK           AD          04         NaN
307                  H           LK           AD          06         NaN
326                  H           LK           AD          02         NaN
333                  H           LK           AD          08         NaN
417                  H           LK           AD          02         NaN
434                  H           LK           AD          03         NaN
435                  H           LK           AD          03         NaN
530                  H           LK           AD          05         NaN
539                  H           LK           AD          02         NaN
565                  H           LK           AD          05         NaN
566                  H           LK           AD          02         NaN
567                  H           LK           AD          03         NaN
625                  H           LK           AD          04         NaN
920                  H           LK           AD          08         NaN
935                  H           LK           AD          04         NaN
962                  H           LK           AD          02         NaN
963                  H           LK           AD          02         NaN
968                  H           LK           AD          03         NaN
983                  H           LK           AD          03         NaN
1041                 H           LK           AD          07         NaN
1049                 H           LK           AD          07         NaN
1059                 H           LK           AD          02         NaN
1069                 H           LK           AD          03         NaN
1363                 H           LK           AD          08         NaN
1409                 H           LK           AD          02         NaN
1411                 H           LK           AD          02         NaN
1565                 H           LK           AD          08         NaN
1582                 H           LK           AD          03         NaN
...                ...          ...          ...         ...         ...
11865367             H           LK           ZM          04         NaN
11865720             H           LK           ZM          04         NaN
11865821             H           LK           ZM          10         NaN
11865838             H           LK           ZM          05         NaN
11865888             H           LK           ZM          00         NaN
11865937             H           LK           ZM          06         NaN
11865938             H           LK           ZM          10         NaN
11866171             H           LK           ZM          07         NaN
11884279             H           LK           ZW          08         NaN
11884754             H           LK           ZW          05         NaN
11884854             H           LK           ZW          05         NaN
11885801             H           LK           ZW          03         NaN
11885869             H           LK           ZW          03         NaN
11885870             H           LK           ZW          03         NaN
11888349             H           LK           ZW          05         NaN
11890835             H           LK           ZW          05         NaN
11890995             H           LK           ZW          05         NaN
11896220             H           LK          NaN         NaN         NaN
11896275             H           LK          NaN         NaN         NaN
11896276             H           LK          NaN         NaN         NaN
11896277             H           LK          NaN         NaN         NaN
11896278             H           LK          NaN         NaN         NaN
11896279             H           LK          NaN         NaN         NaN
11896280             H           LK          NaN         NaN         NaN
11896281             H           LK          NaN         NaN         NaN
11896282             H           LK          NaN         NaN         NaN
11896283             H           LK          NaN         NaN         NaN
11896284             H           LK          NaN         NaN         NaN
11896285             H           LK          NaN         NaN         NaN
11896287             H           LK          NaN         NaN         NaN

         admin3_code admin4_code  population  elevation modification_date
4                NaN         NaN           0        NaN        2014-11-05
57               NaN         NaN           0        NaN        2014-11-05
76               NaN         NaN           0        NaN        2014-11-05
307              NaN         NaN           0        NaN        2015-05-06
326              NaN         NaN           0        NaN        2014-12-03
333              NaN         NaN           0        NaN        2015-04-08
417              NaN         NaN           0        NaN        2014-12-03
434              NaN         NaN           0        NaN        2015-04-08
435              NaN         NaN           0        NaN        2014-11-05
530              NaN         NaN           0        NaN        2014-11-05
539              NaN         NaN           0        NaN        2014-12-03
565              NaN         NaN           0        NaN        2010-01-12
566              NaN         NaN           0        NaN        2014-12-03
567              NaN         NaN           0        NaN        2015-04-08
625              NaN         NaN           0        NaN        2014-11-05
920              NaN         NaN           0        NaN        2014-11-05
935              NaN         NaN           0        NaN        2014-11-05
962              NaN         NaN           0        NaN        2014-11-05
963              NaN         NaN           0        NaN        2014-12-03
968              NaN         NaN           0        NaN        2014-11-05
983              NaN         NaN           0        NaN        2015-04-08
1041             NaN         NaN           0        NaN        2007-03-04
1049             NaN         NaN           0        NaN        2007-03-04
1059             NaN         NaN           0        NaN        2014-11-05
1069             NaN         NaN           0        NaN        2014-11-05
1363             NaN         NaN           0        NaN        2015-05-06
1409             NaN         NaN           0        NaN        2014-11-05
1411             NaN         NaN           0        NaN        2014-11-05
1565             NaN         NaN           0        NaN        2018-05-02
1582             NaN         NaN           0        NaN        2014-11-05
...              ...         ...         ...        ...               ...
11865367         NaN         NaN           0        NaN        2012-01-17
11865720         NaN         NaN           0        NaN        2011-03-06
11865821         NaN         NaN           0        NaN        2016-06-04
11865838         NaN         NaN           0        NaN        2012-01-17
11865888         NaN         NaN           0        NaN        2012-01-17
11865937         NaN         NaN           0        NaN        2011-03-06
11865938         NaN         NaN           0        NaN        2016-06-04
11866171         NaN         NaN           0        NaN        2011-07-14
11884279         NaN         NaN           0        NaN        2009-06-10
11884754         NaN         NaN           0        NaN        2012-01-21
11884854         NaN         NaN           0        NaN        2012-01-21
11885801         NaN         NaN           0        NaN        2012-01-21
11885869         NaN         NaN           0        NaN        2012-01-21
11885870         NaN         NaN           0        NaN        2012-01-21
11888349         NaN         NaN           0        NaN        2010-08-07
11890835         NaN         NaN           0        NaN        2011-07-14
11890995         NaN         NaN           0        NaN        2013-06-05
11896220         NaN         NaN           0        NaN        2007-02-10
11896275         NaN         NaN           0     1666.0        2015-01-13
11896276         NaN         NaN           0     1884.0        2015-01-14
11896277         NaN         NaN           0        NaN        2008-11-25
11896278         NaN         NaN           0        NaN        2008-11-25
11896279         NaN         NaN           0        NaN        2015-01-13
11896280         NaN         NaN           0        NaN        2008-11-25
11896281         NaN         NaN           0        NaN        2008-11-25
11896282         NaN         NaN           0     1612.0        2015-01-13
11896283         NaN         NaN           0        NaN        2008-11-25
11896284         NaN         NaN           0        NaN        2008-11-25
11896285         NaN         NaN           0        NaN        2008-11-25
11896287         NaN         NaN           0        NaN        2008-11-25

[267248 rows x 14 columns]>

### Question 4

Afficher le nombre de lacs par pays

In [13]:
lacs['country code'].value_counts()

CA    104664
US     69290
RU     16225
NO     12461
SE     10865
FI      4957
MZ      4033
AU      3802
PE      3480
DE      2525
LT      2360
KZ      1800
BR      1590
IE      1552
ID      1537
MX      1261
AR      1220
CO      1209
CN      1165
NZ      1157
CH      1140
PL      1063
VE      1013
IN       979
GB       819
BY       763
IS       607
CL       597
LV       570
BO       558
       ...
MO         3
CK         3
BM         3
WF         2
LI         2
GU         2
TT         2
SR         2
SG         2
DM         2
JM         2
GQ         2
KI         2
BN         2
FM         2
CW         1
GF         1
VC         1
YE         1
MV         1
JO         1
LS         1
CY         1
GW         1
HK         1
NR         1
DJ         1
KN         1
JE         1
BW         1
Name: country code, Length: 202, dtype: int64

### Question 5

Quels sont les lacs repertoriés pour la Suisse et quel est son altitude moyenne ?

*Bonus : Et pour le Canton de Genève ?*

### Question 6

Identifier le lac Léman

### Question 7

Exporter la table des lacs dans un fichier CSV

### Question 8

Afficher un graphique des barres avec le nombre de lacs par pays pour les premiers 30 pays

*Bonus : Afficher un histogramme avec l'altitude des lacs*